{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all, debug_info]},
    {extra_src_dirs, ["test"]}
  ]},
  {debug, [
    {erl_opts, [debug_info]}
  ]},
  {prod, [
    {erl_opts, [
      {d, 'PROD'},
      deterministic,
      warnings_as_errors,
      compressed
    ]}
  ]},
  {example, [
    {erl_opts, [debug_info]},
    {src_dirs, ["src", "example"]},
    {escript_name, "example"},
    {escript_main_app, errm_json},
    {escript_emu_args, "%%! +sbtu +A0\n"}
  ]}
]}.
